{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}蔵書一覧{% endblock %}</h1>
  {% if g.manager %}
    <a class="action" href="{{ url_for('bookKanri.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <table border=1>
	   
    <th>書名</th>
    <th>著者名</th>
    <th>出版社</th>
    <th>購入日</th>
    <th>定価</th>
    <th>メモ</th>
    {% for bookData in bookDatas %}
      <form action="" method="POST">
    
          <tr>
            <td>{{ bookData['bookTitle'] }}</td>
            <td>{{ bookData['author'] }}</td>
            <td>{{ bookData['publisher'] }}</td>
            <td>{{ bookData['purchaseDate'] }}</td>
            <td>{{ bookData['price'] }}</td>
            <td>{{ bookData['memo'] }}</td>
            <td>{{ bookData['id'] }}</td>
            {% if g.manager['id'] == bookData['manager_id'] %}
                <td>  <a class="action" href="{{ url_for('bookKanri.update', id=bookData['id']) }}">Edit</a></td>
            {% endif %}
           </tr>
    {% endfor %}
      </form>
    </table>
 
{% endblock %}
