{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ bookData['bookTitle'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="jyanru">ジャンル</label>
    <input name="jyanru" id="jyanru" list="jyanruList" value="{{ bookData['jyanru'] }}" required>
    <label for="bookTitle">本題名</label>
    <input name="bookTitle" id="bookTitle" value="{{ bookData['bookTitle'] }}" required>
    <label for="author">著者</label>
    <input name="author" id="author" value="{{ bookData['author'] }}" required>
    <label for="publisher">出版社</label>
    <input name="publisher" id="publisher" value="{{ bookData['publisher'] }}" required>
    <label for="price">値段</label>
    <input name="price" id="price" value="{{ bookData['price'] }}">
    <label for="purchaseDate">購入日</label>
    <input name="purchaseDate" id="purchaseDate" value="{{ bookData['purchaseDate'] }}">
    <label for="memo">メモ</label>
    <input name="memo" id="memo" value="{{ bookData['memo'] }}">
    <input type="submit" value="Save">
    <datalist id="jyanruList">
      <option value="数学"></option>
      <option value="コンピューター"></option>
      <option value="プログラム"></option>
      <option value="社会科学"></option>
      <option value="科学"></option>
      <option value="文学"></option>
    </datalist>
  </form>
  <hr>
  <form action="{{ url_for('bookKanri.delete', id=bookData['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
